
body {
	min-height: 100vh;
}

h1 {
    color: blue;
    border-bottom: double 6px #87CEFA;
}

.uriage {
 overflow:auto;
 width: 100%;
}

.uriage_table {
 width: 0;
 white-space: nowrap;
 text-align: center;
 border-collapse: collapse;
 border-spacing: 0;
}
.uriage_table th {
 padding: 10px;
 background: #e9faf9;
 border: solid 1px #778ca3;
}
.uriage_table td {
 padding: 10px;
 border: solid 1px #778ca3;
}

.textBox{
    box-sizing: border-box;
    text-align: center;
    padding: 2px 2px;
}
.dmyTextBox{
    display: inline-block;
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    padding: 8px 12px;
}

label{
 white-space: nowrap;
}
